<!-- <div style="width: 100%; height: 100vh; justify-content: center; display: flex; align-items: center;">

    <div style="display: flex; flex-direction: column;">

        <div style="display: inline-block;"> <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                viewBox="0 0 24 24">
                <path fill="#f00000" d="M5.636 6.633L12 .269l6.364 6.364a9 9 0 1 1-12.728 0" />
            </svg>

            <span style="font-size: 15px; font-weight: bold;">.......................................................
                %</span>
        </div>
        <div style="display: inline-block;"> <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                viewBox="0 0 24 24">
                <path fill="#ffd312" d="M5.636 6.633L12 .269l6.364 6.364a9 9 0 1 1-12.728 0" />
            </svg>

            <span style="font-size: 15px; font-weight: bold;">.......................................................
                %</span>
        </div>
        <div style="display: inline-block;"> <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                viewBox="0 0 24 24">
                <path fill="#0029fc" d="M5.636 6.633L12 .269l6.364 6.364a9 9 0 1 1-12.728 0" />
            </svg>

            <span style="font-size: 15px; font-weight: bold;">.......................................................
                %</span>
        </div>
        <div style="display: inline-block;"> <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                viewBox="0 0 24 24">
                <path fill="#hsl(0, 0%, 0%)" d="M5.636 6.633L12 .269l6.364 6.364a9 9 0 1 1-12.728 0" />
            </svg>

            <span style="font-size: 15px; font-weight: bold;">.......................................................
                %</span>
        </div>
    </div>

    <div style="position: absolute; bottom: 20px; right: 20px;"><button class="btn btn-primary re-btn">ทำใหม่ <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M12 20q-3.35 0-5.675-2.325T4 12q0-3.35 2.325-5.675T12 4q1.725 0 3.3.712T18 6.75V4h2v7h-7V9h4.2q-.8-1.4-2.187-2.2T12 6Q9.5 6 7.75 7.75T6 12q0 2.5 1.75 4.25T12 18q1.925 0 3.475-1.1T17.65 14h2.1q-.7 2.65-2.85 4.325T12 20"/></svg> </button> </div>


</div> -->


<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center; justify-content: center; display: flex;">
            <div class="head-card">
            <button class="btn btn-primary open-btn">OPEN</button>
            </div>
        </div>
    </div>

    <!-- <div style="display: flex; flex-direction: column;  width: 100%; height: 100%; margin-top: 160px;">

        <div style="display: flex; justify-content: center; align-items: center;"> <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                viewBox="0 0 24 24">
                <path fill="#f00000" d="M5.636 6.633L12 .269l6.364 6.364a9 9 0 1 1-12.728 0" />
            </svg>

            <span style="font-size: 15px; font-weight: bold;">.......................................................
                %</span>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;"> <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                viewBox="0 0 24 24">
                <path fill="#ffd312" d="M5.636 6.633L12 .269l6.364 6.364a9 9 0 1 1-12.728 0" />
            </svg>

            <span style="font-size: 15px; font-weight: bold;">.......................................................
                %</span>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;"> <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                viewBox="0 0 24 24">
                <path fill="#0029fc" d="M5.636 6.633L12 .269l6.364 6.364a9 9 0 1 1-12.728 0" />
            </svg>

            <span style="font-size: 15px; font-weight: bold;">.......................................................
                %</span>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;"> <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                viewBox="0 0 24 24">
                <path fill="#hsl(0, 0%, 0%)" d="M5.636 6.633L12 .269l6.364 6.364a9 9 0 1 1-12.728 0" />
            </svg>

            <span style="font-size: 15px; font-weight: bold;">.......................................................
                %</span>
        </div>
    </div> -->

</div>

<!-- <div style="position: absolute; bottom: 20px; right: 20px;">
    <button type="submit" class="btn btn-primary re-btn">กลับ <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M16.62 2.99a1.25 1.25 0 0 0-1.77 0L6.54 11.3a.996.996 0 0 0 0 1.41l8.31 8.31c.49.49 1.28.49 1.77 0s.49-1.28 0-1.77L9.38 12l7.25-7.25c.48-.48.48-1.28-.01-1.76"/></svg></button>
</div> -->