.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../../assets/contact-background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.bg {
    background-color: black;
}

.my-btn {
    color: black;
    background-color: white;
    width: 100%;
    margin-top: 20px;
    border: 2px rgb(132, 0, 158) solid;
}

.content {
    background-color: rgba(138, 3, 165, 0.363);
    padding: 30px;
    border-radius: 5px;
}

.is-invalid {
    border: 1px solid red; // Example style for invalid fields
  }
  

  .body {
    // background: url(../../assets/02_copia.jpg) fill;
    background-color: #db00db;
}

.re-btn2 {
    background-color: #934ba1;
    border-radius: 5px;
    border: 0;
    width: 150px;
}


.re-btn2:hover {
  background-color: #a662b4;
  border-radius: 5px;
}
.re-btn2:active {
  background-color: #a662b4;
  border-radius: 5px;
}
.re-btn2::before {
  background-color: #a662b4;
  border-radius: 5px;
}
.re-btn2::after {
  background-color: #a662b4;
  border-radius: 5px;
}

.re-btn2:active,
.re-btn2:focus,
.re-btn2.active {
/* Add your custom styles here */
/* For example, changing the background color */
background-color: #a662b4 !important; /* Your desired color */
/* You can add more styles as needed */
}