<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center; justify-content: center; display: flex;">
            <div class="head-card">
                <h2 *ngIf="mode == 1">{{label1}}</h2>
                <h2 *ngIf="mode == 2">{{label2}}</h2>
            </div>
        </div>
    </div>

    <!-- <div style="width: 100%; display: flex; justify-content: center;">
        <div [formGroup]="printingForm" class="row mt-5" style="width: 700px; font-weight: 600;">
            <div class="col-md-12 mt-3">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <label for="bcmInput">ชื่องาน:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="bcmInput" formControlName="jobName">
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <label for="bcmInput">BCM:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control text-right" id="bcmInput" formControlName="bcm">
                    </div>
                    <div class="col-md-3">
                        <span class="unit"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <label for="webWidth" *ngIf="mode == 1">Web Width:</label>
                        <label for="webWidth" *ngIf="mode == 2">Width:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control text-right" id="webWidth" formControlName="webWidth">
                    </div>
                    <div class="col-md-3">
                        <span class="unit">mm</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <label for="length">Length:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control text-right" id="length" formControlName="length">
                    </div>
                    <div class="col-md-3">
                        <span class="unit">mm</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <label for="inkCoverage">Ink Coverage:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control text-right" id="inkCoverage" formControlName="inkCoverage">
                    </div>
                    <div class="col-md-3">
                        <span class="unit">Percent</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3" *ngIf="mode == 2">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <label for="bcmInput">Quantity:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control text-right" id="waste" formControlName="quantity">
                    </div>
                    <div class="col-md-3">
                        <span class="unit">Pcs</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <label for="bcmInput">Waste:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control text-right" id="waste" formControlName="waste">
                    </div>
                    <div class="col-md-3">
                        <span class="unit">Percent</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <label for="inkTransfer">Ink Transfer:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control text-right" id="inkTransfer" formControlName="inkTransfer">
                    </div>
                    <div class="col-md-3">
                        <span class="unit">Percent</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <label for="area">Area:</label>
                    </div>
                    <div class="col-md-4">
                        <input  type="number" class="form-control text-right" id="area" formControlName="area" >
                    </div>
                    <div class="col-md-3">
                        <span class="unit">m2</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <label for="inkToBePrepared">Ink To Be Prepared:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control text-right" id="inkToBePrepared" formControlName="inkToBePrepared"
                            readonly>
                    </div>
                    <div class="col-md-3">
                        <span class="unit">kg</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3 mb-3">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-4" style="display: flex; justify-content: center;">
                        <button class="btn btn-primary re-btn" (click)="save()">คำนวน</button>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>

        </div>
    </div> -->

    <div class="container2">
        <div class="column">
        <h3 style="text-align: center;">{{header1}}</h3>
            <div style="width: 100%; display: flex; justify-content: center;">
                <div [formGroup]="printingForm" class="row mt-5" style="width: 700px; font-weight: 600;">
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="bcmInput">ชื่องาน:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="bcmInput" formControlName="jobName">
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="bcmInput">CM3/m2:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="bcmInput"
                                    formControlName="bcm">
                            </div>
                            <div class="col-md-3">
                                <span class="unit"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="webWidth" *ngIf="mode == 1">Web Width:</label>
                                <label for="webWidth" *ngIf="mode == 2">Width:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="webWidth"
                                    formControlName="webWidth">
                            </div>
                            <div class="col-md-3">
                                <span class="unit">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="length">Length:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="length"
                                    formControlName="length">
                            </div>
                            <div class="col-md-3">
                                <span class="unit">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="inkCoverage">Ink Coverage:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="inkCoverage"
                                    formControlName="inkCoverage">
                            </div>
                            <div class="col-md-3">
                                <span class="unit">Percent</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3" *ngIf="mode == 2">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="bcmInput">Quantity:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="waste"
                                    formControlName="quantity">
                            </div>
                            <div class="col-md-3">
                                <span class="unit">Pcs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="bcmInput">Waste:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="waste" formControlName="waste">
                            </div>
                            <div class="col-md-3">
                                <span class="unit">Percent</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="inkTransfer">Ink Transfer:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="inkTransfer"
                                    formControlName="inkTransfer">
                            </div>
                            <div class="col-md-3">
                                <span class="unit">Percent</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="area">Area:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="area" formControlName="area">
                            </div>
                            <div class="col-md-3">
                                <span class="unit">m2</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="inkToBePrepared">Ink To Be Prepared:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="inkToBePrepared"
                                    formControlName="inkToBePrepared" readonly>
                            </div>
                            <div class="col-md-3">
                                <span class="unit">kg</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3 mb-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-4" style="display: flex; justify-content: center;">
                                <button class="btn btn-primary re-btn" (click)="save()">คำนวน</button>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="column">
            <h3 style="text-align: center;">{{header2}}</h3>
            <div style="width: 100%; display: flex; justify-content: center;">
                <div [formGroup]="printingForm" class="row mt-5" style="width: 700px; font-weight: 600;">
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="bcmInput">ชื่องาน:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="bcmInput" formControlName="jobName">
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="bcmInput">BCM:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="bcmInput"
                                    formControlName="bcm">
                            </div>
                            <div class="col-md-3">
                                <span class="unit"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="webWidth" *ngIf="mode == 1">Web Width:</label>
                                <label for="webWidth" *ngIf="mode == 2">Width:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="webWidth"
                                    formControlName="webWidth">
                            </div>
                            <div class="col-md-3">
                                <span class="unit">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="length">Length:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="length"
                                    formControlName="length">
                            </div>
                            <div class="col-md-3">
                                <span class="unit">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="inkCoverage">Ink Coverage:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="inkCoverage"
                                    formControlName="inkCoverage">
                            </div>
                            <div class="col-md-3">
                                <span class="unit">Percent</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3" *ngIf="mode == 2">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="bcmInput">Quantity:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="waste"
                                    formControlName="quantity">
                            </div>
                            <div class="col-md-3">
                                <span class="unit">Pcs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="bcmInput">Waste:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="waste" formControlName="waste">
                            </div>
                            <div class="col-md-3">
                                <span class="unit">Percent</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="inkTransfer">Ink Transfer:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="inkTransfer"
                                    formControlName="inkTransfer">
                            </div>
                            <div class="col-md-3">
                                <span class="unit">Percent</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="area">Area:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="area" formControlName="area">
                            </div>
                            <div class="col-md-3">
                                <span class="unit">m2</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <label for="inkToBePrepared">Ink To Be Prepared:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control text-right" id="inkToBePrepared"
                                    formControlName="inkToBePrepared" readonly>
                            </div>
                            <div class="col-md-3">
                                <span class="unit">kg</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3 mb-3">
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-4" style="display: flex; justify-content: center;">
                                <button class="btn btn-primary re-btn" (click)="save()">คำนวน</button>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div style="position: fixed; bottom: 60px; right: 20px;">
    <button type="submit" class="btn btn-primary re-btn" *ngIf="mode == 2" (click)="modeS()">Film <svg
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="white"
                d="M16.62 2.99a1.25 1.25 0 0 0-1.77 0L6.54 11.3a.996.996 0 0 0 0 1.41l8.31 8.31c.49.49 1.28.49 1.77 0s.49-1.28 0-1.77L9.38 12l7.25-7.25c.48-.48.48-1.28-.01-1.76" />
        </svg></button>
    <button type="submit" class="btn btn-primary re-btn" *ngIf="mode == 1" (click)="modeS()">Label <svg
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="white"
                d="M16.62 2.99a1.25 1.25 0 0 0-1.77 0L6.54 11.3a.996.996 0 0 0 0 1.41l8.31 8.31c.49.49 1.28.49 1.77 0s.49-1.28 0-1.77L9.38 12l7.25-7.25c.48-.48.48-1.28-.01-1.76" />
        </svg></button>
</div>
<div style="position: fixed; bottom: 20px; right: 20px;"><button class="btn btn-primary re-btn"
        (click)="reset()">ทำใหม่ <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="white"
                d="M12 20q-3.35 0-5.675-2.325T4 12q0-3.35 2.325-5.675T12 4q1.725 0 3.3.712T18 6.75V4h2v7h-7V9h4.2q-.8-1.4-2.187-2.2T12 6Q9.5 6 7.75 7.75T6 12q0 2.5 1.75 4.25T12 18q1.925 0 3.475-1.1T17.65 14h2.1q-.7 2.65-2.85 4.325T12 20" />
        </svg> </button> </div>