<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center; justify-content: center; display: flex;">
            <div class="head-card">
            <h1>ประวัติการใช้งาน</h1>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="container">
            <table class="table">
              <thead>
                <tr>
                  <th>ชื่องาน</th>
                  <th>วันที่/เวลา</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of historyList">
                  <td>{{ item.jobName }}</td>
                  <td>{{ item.date | date }}/{{ item.date | date:'shortTime' }}</td>
                  <td><a style="color: #6fa1e6;" (click)="detail(item.id)">เลือก</a></td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>

<!-- <div style="position: absolute; bottom: 20px; right: 20px;">
    <button type="submit" class="btn btn-primary re-btn">กลับ <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M16.62 2.99a1.25 1.25 0 0 0-1.77 0L6.54 11.3a.996.996 0 0 0 0 1.41l8.31 8.31c.49.49 1.28.49 1.77 0s.49-1.28 0-1.77L9.38 12l7.25-7.25c.48-.48.48-1.28-.01-1.76"/></svg></button>
</div> -->